{% extends "layout.njk"%}
{% import "parts/section-products.njk" as section %} 
{% block content %}

  {% include "parts/carousel.njk" %}

  {{section.products('ÚLTIMOS PRODUTOS', 'container', products)}}
  {{section.products('CONSOLES', 'container', consoles)}}
  {{section.products('JOGOS', 'container', games)}}
  
{% endblock content %}