.cart .header {
  display: grid;
  grid-template-columns: 1fr 100px 100px 30px;
  gap: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #999;
}

.cart .header p:nth-child(2){
  text-align: right;
}

.cart .header p:nth-child(3){
  text-align: center;
}

.cart .item {
  display: grid;
  grid-template-columns: 1fr 100px 100px 30px;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid #eee;
  padding: 16px 0;
}

.cart .item:hover {
  background: rgba(0, 0, 0, .02);
}

.cart .item > a {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.cart .item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 16px;
}

.cart .item .title {
  color: #222;
}

.cart .item .price {
  text-align: right;
  color: #555;
}

.cart .quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart .quantity-control .quantity {
  margin: 0 8px;
  color: #555;
}

.cart .quantity-control i {
  color: #555;
  background: white;
}

.cart .add, .cart .remove, .cart .delete {
  cursor: pointer;
}

.cart .delete {
  background: white;
}

.cart .delete:hover {
  color: var(--primary-color);
}

.cart .total {
  margin-top: 16px;
  text-align: right;
}

.cart .total p {
  text-transform: uppercase;
  font-size: 14px;
  color: #777;
  font-weight: bold;
  margin-bottom: 4px;
}

.cart .total span {
  font-weight: bold;
  font-size: 22px;
  color: #444;
}

.cart .actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.cart .button.shop {
  width: 240px;
}

.cart .button.order {
  background: rgb(0, 117, 64);
}

.cart .button.order:hover {
  background: rgba(6, 202, 68, 0.87);
}