<div class="container">
<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">
        <a href="/products/search?filter=xbox">
          <img src="/assets/banner_xbox.png" alt="">
        </a>
      </li>
      <li class="glide__slide">
        <a href="/products/search?filter=ps3">
          <img src="/assets/banner_ps3.png" alt="">
        </a>
      </li>
      <li class="glide__slide">
        <a href="/products/search?filter=ps4">
          <img src="/assets/banner_ps4.png" alt="">
        </a>
      </li>
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
      <i class="material-icons">chevron_left</i>
    </button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
      <i class="material-icons">navigate_next</i>
    </button>
  </div>
</div>

</div>