<header>

  <div class="container">
    <a href="/">
      <div class="logo">
        <img src="/assets/NovoProjeto.png" alt="">
      </div>
    </a>

    <form action="/products/search" method="GET" class="search">
      <input 
        type="text" 
        name="filter" 
        placeholder="Digite o que você procura"
        {% if search.term %}
          value="{{ search.term }}"
        {% endif%}
      >
    </form>

    <nav class="primary">
      <ul>
        <li>
          <a href="/ads/create">
            <i class="material-icons">add</i>
            Novo Anúncio
          </a>
        </li>
        <li class="accounts">
          <a href="/accounts">
            <i class="material-icons">account_circle</i>
            Minha Conta
          </a>
          {% if session.userId %}
            <ul class="submenu">
              <li>
                <a href="/users">Minha conta</a>
              </li>
              <li>
                <a href="/users/ads">Meus anúncios</a>
              </li>
              <li>
                <a href="/users/proposal">Minhas propostas</a>
              </li>
              <li>
                <form action="/users/logout" method="POST">
                  <button>Sair</button>
                </form>
              </li>
            </ul>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>

  <div class="menu">
    <ul>
      <li><a href="/products/search?filter=PLAYSTATION">PLAYSTATION</a></li>
      <li><a href="/products/search?filter=X-BOX">X-BOX</a></li>
      <li><a href="/products/search?filter=NINTENDO">NINTENDO</a></li>
      <li><a href="/products/search?filter=CLÁSSICOS">CLÁSSICOS</a></li>
    </ul>
  </div>

</header>